@page "/"

<div class="row">
    <div class="col">
        <TotalSalesForToday></TotalSalesForToday>
    </div>

    <div class="col">
        <TotalNetSell></TotalNetSell>
    </div>
    <div class="col">
        <DepartmentSales></DepartmentSales>
    </div>
</div>
<div class="row">

    <div class="col">
        <GrossProfit></GrossProfit>
    </div>
    <div class="col">
        <HourlyNetSell></HourlyNetSell>
    </div>
    <div class="col">
        <SalesWeekToDays></SalesWeekToDays>
    </div>

 </div>

